* {
  box-sizing: border-box;
  /*transition: 0.5s;*/
}

body {
  margin: 0px;
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  display: none;
}

.subtitulo {
  font-size: 10rem;
  line-height: 1;
  word-break: break-all;
}