.header1 {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 20px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ul-header {
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.875rem;
  font-family: 'IBM Plex Sans', 'sans-serif';
  list-style: none;
}

.hea-exp {
  width: 175px;
  text-align: center;
}

.hea-form {
  width: 142px;
  text-align: center;
}

.hea-cont {
  width: 117px;
  text-align: center;
}

.pro-cont {
  width: 121px;
  text-align: center;
}

.ul-header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

.navegacao1 ul a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.5rem 0.8rem;
  letter-spacing: 0em;
  transition: 0.5s;
}

.navegacao1 a:hover {
  text-decoration: underline 2px;
  letter-spacing: 0.05em;
}

@media (max-width: 1440px) {
  .header1 {
    padding: 20px 30px;
  }
}

@media (max-width: 700px) {
  .ul-header li a {
    font-size: 1.2rem;
  }

  .hea-exp {
    width: 147px;
    text-align: center;
  }

  .hea-form {
    width: 119px;
    text-align: center;
  }

  .hea-cont {
    width: 99px;
    text-align: center;
  }

  .pro-cont {
    width: 111px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .header1 img {
    margin: 0 auto;
  }

  .header1 {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .ul-header li a {
    background-color: #ffffff;
    border-radius: 4px;
  }
}